:root {
  --font-sans-serif: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'segoe ui',
    'helvetica neue', helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman', 'Droid Serif',
    Times, 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans-serif, sans-serif);
}
